* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
}
.container {
  background: url(img/bg.svg);
  background-size: cover;
  color: white;
  height: 100vh;
  padding: 30px 120px;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
.logo {
  height: 40px;
  margin-right: 0.3em;
}

.navbar,
.navElm {
  display: flex;
  align-items: center;
}
.navElm {
  font-size: 1.3em;
  margin: 0 0.3em;
  font-family: Roboto;
  font-weight: 200;
  text-decoration: none;
  color: white;
}
.left {
  margin-right: auto;
}
.bordered {
  border: 1px solid white;
  padding: 0.3em;
  border-radius: 5px;
}
.content {
  margin-top: 8em;
}
.content h1 {
  font-size: 2.5em;
}
.content p {
  width: 30%;
  font-family: Roboto;
}
.button {
  text-decoration: none;
  color: white;
  padding: 0.3em 0.7em;
  margin-right: 2em;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: Roboto;
  font-weight: 300;
}
.button.filled {
  background-color: white;
  color: black;
}
.back {
  position: absolute;
  right: 12%;
  bottom: -10%;
  width: 45%;
}
.social {
  margin-top: auto;
  margin-bottom: -30px;
  border-left: 15px solid white;
  padding: 0 1em 3em 1em;
}
.social p {
  font-size: 1.2em;
  font-family: Roboto;
  font-weight: 400;
  margin-top: 0;
}
.social a {
  margin-right: 0.6em;
  color: white;
  text-decoration: none;
}
